<meta http-equiv="cache-control" content="no-cache, must-revalidate, post-check=0, pre-check=0">
<meta http-equiv="expires" content="0">
<meta http-equiv="pragma" content="no-cache">
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{repositoryID}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- <ion-card *ngFor="let item of information[0]">
    <ion-card-header>
      <ion-card-title>{{item.message}}</ion-card-title>
    </ion-card-header>
  </ion-card> -->
  <!-- <ion-grid>
        <ion-row>
          <ion-col>
            <h2>Date</h2>
          </ion-col>
          <ion-col>
            <h2>Message</h2>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
              <ion-datetime displayFormat="YYYY-MM-DD HH:mm" value="{{commit.date}}" readonly="true"></ion-datetime>
          </ion-col>
          <ion-col>
            <h2><strong>{{commit.message}}</strong></h2>
          </ion-col>
        </ion-row>
      </ion-grid> -->
  <ion-card *ngFor="let commit of information" class="test">
    <ion-card-header>
      <ion-card-title>{{commit.author.raw}}</ion-card-title>
      <ion-card-subtitle>{{commit.repository.name}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <!-- <h4>{{commit.date}}</h4> -->
      <ion-datetime class="padding-left" displayFormat="YYYY-MM-DD || HH:mm" value="{{commit.date}}" readonly="true"></ion-datetime>
      <h3> Message: <strong>{{commit.message}}</strong></h3>
    </ion-card-content>
  </ion-card>
</ion-content>