<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="getData()" debounce="500"></ion-searchbar>
  
  <ion-card *ngFor = "let item of data ">
    <ion-card-header>
      <ion-card-subtitle>{{item.repository.name}}</ion-card-subtitle>
      <ion-card-title>{{item.author.raw}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <h3>{{item.date}}</h3>
      <p> Message: <strong>{{item.message}}</strong></p>
    </ion-card-content>
  </ion-card>
</ion-content>
